<% provide(:title, admin? ? "Ordini: #{@user.name}" : "Ordini") %>

<%= will_paginate %>

    <% @orders.each do |order| %>
    
<div class="row" style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #eee">
<div class="col-sm-4 col-xs-12">
<h4>
    <span class="glyphicon glyphicon-calendar" style="margin-right: 10px" aria-hidden="true"></span>
    Acquistato il: <%= I18n.l order.created_at, format: "%d/%b/%Y" %>
</h4>
</div>
<div class="col-sm-4 col-xs-12">
<h4>
    <span class="glyphicon glyphicon-euro" style="margin-right: 10px" aria-hidden="true"></span>
    Importo: <%= order.price %>€
</h4>
</div>
<div class="col-sm-4 col-xs-12">
<h4>
    <span class="glyphicon glyphicon-list-alt" style="margin-right: 10px" aria-hidden="true"></span>
    Stato: <%= order.status %>
</h4>
</div>
</div>

        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-2"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></th>
                    <th class="col-xs-10"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <th scope="row">
                        <%= order.id %>
                    </th>
                    <td>
                        <%= link_to order.product.name, order.product %>
                    </td>
                </tr>
                <% order.upgrades.each do |upgrade| %>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <%= upgrade.name %>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>

<% end %>

<%= will_paginate %>