<!DOCTYPE html>
<html lang="it">
  <head>
    <title><%= yield(:title) + " | GeekStore" %></title>
    <%= render 'layouts/shim' %>
  </head>
  <body>

    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "GeekStore", root_path, class: "navbar-brand" %>
        </div>
        <nav class="navbar-collapse collapse navbar-responsive-collapse">
          <%= render admin? ? 'layouts/navbar_admin' : 'layouts/navbar_user' %>
        </nav>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h1><%= yield(:title) %></h1>
          </div>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; Stefano Semeraro - Unisalento 2015</p>
      </div>
    </footer>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
